{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
<script defer>
    var deptMap = null;
    $(document).ready(function() {
        $.getJSON('/collQry', function(data){
            deptMap = new Map(Object.entries(data));
        });

        $('#right_col-collSel').change(function(){
            $('#right_col-deptSel').html("");
            let deptList = deptMap.get($('#right_col-collSel option:selected').text());
            for(let i in deptList){
                $('#right_col-deptSel').append(new Option(`${deptList[i][0]} ${deptList[i][1]} ${deptList[i][2]}`, i));
            }
        });
        $('#right_col-deptSel').change(function(){
            //console.log('bruh');
            //$('#right_col-deptSel').val('');
        });
    });
</script>
<h1>NCKU sCourserer</h1>

<form method="post">
    {{ form.csrf_token }}
    {{ render_form_row([form.left_col, form.section, form.right_col], col_class_default='col-md-4') }}
</form>
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="myModalLabel">正在取得課程資料...</h3>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
