{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_nav_item, render_breadcrumb_item %}

{% block content %}
    <h2>Render Navbar item with render_nav_item</h2>
    <pre>{% raw %}
{{ render_nav_item('test_form', 'Form') }}
{{ render_nav_item('test_nav', 'Nav') }}
{{ render_nav_item('test_pagination', 'Pagination') }}
{{ render_nav_item('test_static', 'Static') }}
{{ render_nav_item('test_flash', 'Flash Messages') }}
{% endraw %}</pre>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                {{ render_nav_item('test_form', 'Form') }}
                {{ render_nav_item('test_nav', 'Nav') }}
                {#{{ render_nav_item('test_pagination', 'Pagination') }}#}
                {{ render_nav_item('test_flash', 'Flash Messages') }}
            </div>
        </div>
    </nav>

    <h2>Render Breadcrumb item with render_breadcrumb_item</h2>
<pre>{% raw %}
{{ render_breadcrumb_item('test_form', 'Form') }}
{{ render_breadcrumb_item('test_nav', 'Nav') }}
{{ render_breadcrumb_item('test_pagination', 'Pagination') }}
{{ render_breadcrumb_item('test_flash', 'Flash Messages') }}
{% endraw %}</pre>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('test_form', 'Form') }}
            {{ render_breadcrumb_item('test_nav', 'Nav') }}
            {#{{ render_breadcrumb_item('test_pagination', 'Pagination') }}#}
            {{ render_breadcrumb_item('test_flash', 'Flash Messages') }}
        </ol>
    </nav>
{% endblock %}
